/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

header {
  --bs-dark-rgb: 50, 137, 168;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  .searchbar {
    background-color: var(--bs-gray-300);

    .search-query-form {
      border: 1px solid #ababa9;
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: white;
      width: clamp(400px, 50vw, 800px);

      input:focus {
        box-shadow: none;
      }
      .search-btn {
        border-radius: 0.25rem !important;
        padding: 2px 6px;
        align-items: center;
      }

      .search-autocomplete-wrapper {
        border: none;

        display: inline-block;
        flex-grow: 4;
        padding: 0;
        position: relative;
      }

      .search-q {
        border: 0;
        height: 100%;
        width: 100%;
        padding: 0 0 0 2rem;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E")
          no-repeat left;
        background-size: 1rem;
        outline: none;
      }
    }
  }
}
